<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notice Board</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>📋 Notice Board</h1>
        <a href="/add" class="btn">+ Add Notice</a>

        {% if notices %}
           {% for notice in notices %}
            <div class="notice-card">
            <h2>{{ notice.title }}</h2>
            <p>{{ notice.content }}</p>
            <small>Posted on: {{ notice.created_at.strftime('%Y-%m-%d %H:%M') }}</small>
            <br>
            <a href="/delete/{{ notice.id }}" class="delete-btn" onclick="return confirm('Delete this notice?')">Delete</a>
            </div>
        {% endfor %}
        {% else %}
            <p class="empty">No notices yet. Add one!</p>
        {% endif %}
    </div>
</body>
</html>